<div class="media-block__inner">
    <figure itemscope="" itemtype="https://gmedia.playstation.com/is/image/SIEPDC/playstation-games-on-pc-featured-image-01-en-16apr24?$1200px--t$" class="media-block__figure">
        <picture class="media-block__img lozad lazy-loaded" data-alt="PlayStation PC games hero background blue" data-loaded="true">
            <source srcset="https://gmedia.playstation.com/is/image/SIEPDC/playstation-games-on-pc-hero-page-banner-desktop-01-en-03mar23?$4000px$" media="(min-width: 3000px)">
            <source srcset="https://gmedia.playstation.com/is/image/SIEPDC/playstation-games-on-pc-hero-page-banner-desktop-01-en-03mar23?$3200px$" media="(min-width: 1920px)">
            <source srcset="https://gmedia.playstation.com/is/image/SIEPDC/playstation-games-on-pc-hero-page-banner-desktop-01-en-03mar23?$2400px$" media="(min-width: 1367px)">
            <source srcset="https://gmedia.playstation.com/is/image/SIEPDC/playstation-games-on-pc-hero-page-banner-desktop-01-en-03mar23?$1600px$" media="(min-width: 1024px)">
            <source srcset="https://gmedia.playstation.com/is/image/SIEPDC/playstation-games-on-pc-hero-page-banner-desktop-01-en-03mar23?$1200px$" media="(min-width: 768px)">
            <source srcset="https://gmedia.playstation.com/is/image/SIEPDC/playstation-games-on-pc-hero-page-banner-mobile-01-en-03mar23?$800px$" media="(min-width: 320px)">
            <noscript>
                <img itemprop="contentUrl" src="https://gmedia.playstation.com/is/image/SIEPDC/playstation-games-on-pc-hero-page-banner-desktop-01-en-03mar23?$100px$" alt="PlayStation PC games hero background blue"/>
            </noscript>
            <img alt="PlayStation PC games hero background blue">
        </picture>
    </figure>
</div>
