<app-sub-psvr2></app-sub-psvr2>
<section class="ems-sdk-collection">
    <div class="psw-preview-grid-list">
        <ul class="psw-l-line-center psw-preview-size-m psw-grid-list psw-l-grid">
            <!-- Grid item 1 -->
            <li class="grid-item">
                <a href="/en-in/concept/10002684" class="psw-link psw-content-link">
                    <div class="psw-l-line-center psw-ally-indicator psw-b-0">
                        <span
                            class="psw-media-frame psw-fill-x psw-image psw-media psw-media-interactive psw-r-2 psw-aspect-1-1">
                            <img class="psw-fade-out psw-center psw-l-fit-cover"
                                src="https://image.api.playstation.com/pr/bam-art/179/741/acd823c7-aedf-41a6-ab02-c159d6d94fa7.jpg"
                                alt="Thumbnail">
                            <img class="psw-fade-in psw-center psw-l-fit-cover"
                                src="https://image.api.playstation.com/pr/bam-art/179/741/acd823c7-aedf-41a6-ab02-c159d6d94fa7.jpg"
                                alt="Main Image">
                        </span>
                    </div>
                </a>
            </li>
            <!-- Grid item 2 -->
            <li class="grid-item">
                <a href="/en-in/concept/10002456" class="psw-link psw-content-link">
                    <div class="psw-l-line-center psw-ally-indicator psw-b-0">
                        <span
                            class="psw-media-frame psw-fill-x psw-image psw-media psw-media-interactive psw-r-2 psw-aspect-1-1">
                            <img class="psw-fade-out psw-center psw-l-fit-cover"
                                src="https://image.api.playstation.com/pr/bam-art/176/978/c5e7e0d7-0e08-45d8-a273-dbfee9b1e259.jpg"
                                alt="Thumbnail">
                            <img class="psw-fade-in psw-center psw-l-fit-cover"
                                src="https://image.api.playstation.com/pr/bam-art/176/978/c5e7e0d7-0e08-45d8-a273-dbfee9b1e259.jpg"
                                alt="Main Image">
                        </span>
                    </div>
                </a>
            </li>
            <!-- Grid item 3 -->
            <li class="grid-item">
                <a href="/en-in/concept/10002456" class="psw-link psw-content-link">
                    <div class="psw-l-line-center psw-ally-indicator psw-b-0">
                        <span
                            class="psw-media-frame psw-fill-x psw-image psw-media psw-media-interactive psw-r-2 psw-aspect-1-1">
                            <img class="psw-fade-out psw-center psw-l-fit-cover"
                                src="https://image.api.playstation.com/pr/bam-art/186/136/1f189d26-6651-4915-8881-d9480ca83ce4.jpg"
                                alt="Thumbnail">
                            <img class="psw-fade-in psw-center psw-l-fit-cover"
                                src="https://image.api.playstation.com/pr/bam-art/186/136/1f189d26-6651-4915-8881-d9480ca83ce4.jpg"
                                alt="Main Image">
                        </span>
                    </div>
                </a>
            </li>
            <!-- Grid item 4 -->
            <li class="grid-item">
                <a href="/en-in/concept/10002456" class="psw-link psw-content-link">
                    <div class="psw-l-line-center psw-ally-indicator psw-b-0">
                        <span
                            class="psw-media-frame psw-fill-x psw-image psw-media psw-media-interactive psw-r-2 psw-aspect-1-1">
                            <img class="psw-fade-out psw-center psw-l-fit-cover"
                                src="https://image.api.playstation.com/pr/bam-art/174/047/8a28b094-4d8b-4854-a841-e54d59c6fdb0.jpg"
                                alt="Thumbnail">
                            <img class="psw-fade-in psw-center psw-l-fit-cover"
                                src="https://image.api.playstation.com/pr/bam-art/179/712/954ceda1-c86c-42cc-bd63-28d8e294252e.jpg"
                                alt="Main Image">
                        </span>
                    </div>
                </a>
            </li>
            <!-- Grid item 5 -->
            <li class="grid-item">
                <a href="/en-in/concept/10002456" class="psw-link psw-content-link">
                    <div class="psw-l-line-center psw-ally-indicator psw-b-0">
                        <span
                            class="psw-media-frame psw-fill-x psw-image psw-media psw-media-interactive psw-r-2 psw-aspect-1-1">
                            <img class="psw-fade-out psw-center psw-l-fit-cover"
                                src="https://image.api.playstation.com/pr/bam-art/170/756/f86d9650-c513-477a-b149-a9eaee3169a4.jpg"
                                alt="Thumbnail">
                            <img class="psw-fade-in psw-center psw-l-fit-cover"
                                src="https://image.api.playstation.com/pr/bam-art/170/756/f86d9650-c513-477a-b149-a9eaee3169a4.jpg"
                                alt="Main Image">
                        </span>
                    </div>
                </a>
            </li>
            <!-- Grid item 6 -->
            <li class="grid-item">
                <a href="/en-in/concept/10002456" class="psw-link psw-content-link">
                    <div class="psw-l-line-center psw-ally-indicator psw-b-0">
                        <span
                            class="psw-media-frame psw-fill-x psw-image psw-media psw-media-interactive psw-r-2 psw-aspect-1-1">
                            <img class="psw-fade-out psw-center psw-l-fit-cover"
                                src="https://image.api.playstation.com/pr/bam-art/170/756/f86d9650-c513-477a-b149-a9eaee3169a4.jpg"
                                alt="Thumbnail">
                            <img class="psw-fade-in psw-center psw-l-fit-cover"
                                src="https://image.api.playstation.com/pr/bam-art/174/047/8a28b094-4d8b-4854-a841-e54d59c6fdb0.jpg"
                                alt="Main Image">
                        </span>
                    </div>
                </a>
            </li>
            <!-- Add more grid items as needed -->
        </ul>
    </div>
</section><section>
    <h1>Top 10 Games in India</h1>
    <div class="carousel-container" #topCarousel>
        <!-- <button class="arrow left" (click)="scrollLeft(topCarousel)">&#10094;</button> -->
        <div class="carousel" *ngFor="let game of games">
            <img [src]="game.game_Url" alt="{{ game.game_name }}">
            <p>{{ game.game_name }}</p>
        </div>
        <!-- <button class="arrow right" (click)="scrollRight(topCarousel)">&#10095;</button> -->
    </div>
</section>

<section>
    <h1>All Games in India</h1>
    <div class="carousel-container" #allGamesCarousel>
      <div class="carousel" *ngFor="let game of displayedGames">
        <a [routerLink]="['/top10games']">
          <img [src]="game.game_Url" alt="{{ game.game_name }}">
        </a>
        <p>{{ game.game_name }}</p>
      </div>
      <!-- View All button styled as a card -->
      <div class="carousel" *ngIf="!showAll && allgames.length > 9">
        <button class="view-all-button" (click)="viewAllGames()">View All</button>
      </div>
    </div>
  </section>
  
  
  
  
