<div class="content-grid">
    <div class="grid-item card">
      <div class="card-image">
        <picture>
          <source srcset="https://gmedia.playstation.com/is/image/SIEPDC/Helldivers2-ps5-overview-image-block-01-en-19jun24?$1600px--t$" media="(min-width: 1024px)">
          <source srcset="https://gmedia.playstation.com/is/image/SIEPDC/Helldivers2-ps5-overview-image-block-01-en-19jun24?$1200px--t$" media="(min-width: 768px)">
          <source srcset="https://gmedia.playstation.com/is/image/SIEPDC/Helldivers2-ps5-overview-image-block-01-en-19jun24?$800px--t$" media="(min-width: 320px)">
          <img src="https://gmedia.playstation.com/is/image/SIEPDC/Helldivers2-ps5-overview-image-block-01-en-19jun24?$800px--t$" alt="Helldivers 2 character raising a fist">
        </picture>
      </div>
      <div class="card-body">
        <h4>PS5 console exclusives</h4>
        <p>Experience generation-defining games from PlayStation Studios.</p>
        <a href="/en-in/corporate/playstation-studios/" class="btn--cta">Explore PS Studio games</a>
      </div>
    </div>
    <div class="grid-item card">
      <div class="card-image">
        <picture>
          <source srcset="https://gmedia.playstation.com/is/image/SIEPDC/eafc24-ps5-overview-image-block-01-en-19jun24?$1600px--t$" media="(min-width: 1024px)">
          <source srcset="https://gmedia.playstation.com/is/image/SIEPDC/eafc24-ps5-overview-image-block-01-en-19jun24?$1200px--t$" media="(min-width: 768px)">
          <source srcset="https://gmedia.playstation.com/is/image/SIEPDC/eafc24-ps5-overview-image-block-01-en-19jun24?$800px--t$" media="(min-width: 320px)">
          <img src="https://gmedia.playstation.com/is/image/SIEPDC/eafc24-ps5-overview-image-block-01-en-19jun24?$800px--t$" alt="EA FC24 cover art showing Haaland kicking a ball">
        </picture>
      </div>
      <div class="card-body">
        <h4>Play the biggest games on PlayStation</h4>
        <p>Join millions of players in legendary titles like Fortnite, Final Fantasy VII Rebirth, and Grand Theft Auto V.</p>
        <a href="/en-in/ps5/games/" class="btn--cta">Browse PS5 games</a>
      </div>
    </div>
    <div class="grid-item card">
      <div class="card-image">
        <picture>
          <source srcset="https://gmedia.playstation.com/is/image/SIEPDC/God-of-War-ps5-overview-image-block-01-en-05aug24?$1600px--t$" media="(min-width: 1024px)">
          <source srcset="https://gmedia.playstation.com/is/image/SIEPDC/God-of-War-ps5-overview-image-block-01-en-05aug24?$1200px--t$" media="(min-width: 768px)">
          <source srcset="https://gmedia.playstation.com/is/image/SIEPDC/God-of-War-ps5-overview-image-block-01-en-05aug24?$800px--t$" media="(min-width: 320px)">
          <img src="https://gmedia.playstation.com/is/image/SIEPDC/God-of-War-ps5-overview-image-block-01-en-05aug24?$800px--t$" alt="God of War image showing Kratos and Atreus">
        </picture>
      </div>
      <div class="card-body">
        <h4>Backwards compatible with PS4®</h4>
        <p>Play over 8,500 PS4 games on PS5 consoles. Enjoy faster and smoother frame rates in select PS4 games with PS5’s Game Boost technology.</p>
        <a href="/en-in/editorial/great-backwards-compatible-ps4-games-to-play-on-ps5/" class="btn--cta">PS4 games playable on PS5 consoles</a>
      </div>
    </div>
  </div>
  